.manager-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30px;
}

.welcome {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 30vh;
  padding: 15px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.greeting {
  font-family: 'Roboto';
  color: #475569;
  font-size: 20px;
  font-weight: bold;
}
.para {
  font-family: 'Roboto';
  color: #475569;
  font-size: 16px;
  font-weight: 600;
}
span {
  color: #0b69ff;
}
@media screen and (min-width: 768px) {
  .welcome {
    display: flex;
    flex-direction: column;

    text-align: left;
    padding-left: 30px;
  }
  .greeting {
    font-size: 26px;
  }
  .para {
    font-size: 20px;
  }
}
.trans-heading {
  font-family: 'Roboto';
  color: #7e858e;
  font-size: 18px;
  font-weight: bold;
}

.unordered-lists {
  list-style-type: none;
  border: 1px solid #475569;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.title-value {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #475569;
  width: 50%;
}
.amount-value {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #475569;
  width: 25%;
  margin-right: 10px;
}

.type-value {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #475569;
  width: 15%;
}

@media screen and (min-width: 768px) {
  .just-details {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }
  .history-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .title-value {
    font-size: 16px;
  }
  .amount-value {
    font-size: 16px;
  }
  .type-value {
    font-size: 16px;
  }
}
.trans-table {
  width: 100%;
}
